body{
  background-color:rgb(232, 214, 214);
  padding: 1rem;
}
.w-100{
  width: 100%;
}
.mt-1rem{
  margin-top: 1rem;
}
.d-flex{
  display: flex;
  gap: 50px;
  justify-content: space-between;
}
.flex-center{
  justify-content: center;
  align-items: center;
}
button{
  border: none;
}
.bg-demo{
  /* background-color: red; */
}
.button:active{
  border: none;
}
.active{
  background-color: white;
}
.bg-white{
  background-color: white;
}
.vis-none{
  display: none;
}
.ht-prim{
  height:1.5rem;
}